@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&family=Spartan:wght@500;700&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-bg-color: hsl(209, 23%, 22%);
  --dark-article-color: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-bg: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
/******** dark mode code starts ***********/

body.dark-mode {
  background-color: var(--dark-article-color);
  transition: background-color 700ms;
}
.dark-mode .countries .country {
  background-color: var(--dark-bg-color);
  transition: background-color 700ms;
}

.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3 {
  color: var(--white);
}
.dark-mode header {
  background-color: var(--dark-bg-color);
  transition: background-color 700ms;
}

.dark-mode header .mode button {
  color: #fff;
}
.dark-mode .filter input,
.dark-mode .filter select,
.dark-mode .filter button {
  background-color: var(--dark-bg-color);
  transition: background-color 700ms;

  color: #fff;
}
.dark-mode .filter #search {
  border: 1px solid var(--dark-bg-color);
}
.dark-mode .btn-back {
  background-color: var(--dark-bg-color);
  color: #fff;
  transition: background-color 700ms;
}

/******** dark mode code ends ***********/

img {
  max-width: 100%;
  height: auto;
}
html {
  font-size: 16px;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3 {
  color: var(--light-mode-text);
}
.container {
  margin: auto;
  max-width: 1440px;
  width: 80vw;
}
.countries {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.country {
  max-width: 350px;
  margin: auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 7px;
}
.countries a:hover .country {
  box-shadow: rgba(74, 74, 228, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.country .bottom-part {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.bottom-part h3 {
  margin-bottom: 12px;
}
.header-elements {
  display: flex;
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;
}
.country .bottom-part p {
  font-size: 1.1rem;
  font-weight: normal;
}
.country .bottom-part p span {
  font-weight: 300;
}

header {
  margin-bottom: 50px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
header h1 {
  font-size: 1.6rem;
  font-weight: bold;
}
.filter {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
}
.filter input,
.filter select,
.filter button {
  font-size: 1rem;
  border: 0;
  background-color: #fff;
  padding: 1rem;
}

div.filter input {
  width: 100%;
  border: 1px solid #fff;
}
.filter button {
  cursor: pointer;
}
.filter .form-control {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 7px;
}
.filter select {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 7px;
}
.filter input#search:focus {
  border: 0;
}
.header-elements a {
  text-decoration: none;
  color: var(--light-mode-text);
}
.mode button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
}
.mode button span {
  position: absolute;
  left: -22px;
  bottom: -2px;
}
.bottom-info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
  .country {
    height: 100%;
  }
  .filter {
    flex-direction: row;
    justify-content: space-between;
  }
  .filter input {
    min-width: 350px;
  }
}
@media screen and (min-width: 1000px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
  }
  .country {
    width: inherit;
  }
}
@media screen and (min-width: 1300px) {
  .countries {
    grid-template-columns: repeat(4, 1fr);
  }
}
